

.area {
    width: 400px;
    margin: 0 auto;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 40px;
    border-radius: 5px;
}


.area input {
    width: 250px;
}

label {
    font-weight: 500;
}

